:root {
  --color: #ffffff;
  --background-color: #242424;
  --container-background-color: #2e2e2e;
  --primary-color: #008080;
  --hover-color: #005f5f;
  --disabled-color: #808080;
  --output-text-color: #333333;
  --small-space: 0.625rem;
  --medium-space: 1.25rem;
  --large-space: 3rem;
  --slightly-dark: rgba(0, 0, 0, 0.1);

  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  /* padding: 1rem; */
  color: var(--color);
  background-color: var(--background-color);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #213547;
    --background-color: #f1f1f1;
    --container-background-color: #ffffff;
    --output-text-color: #333333;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #ffffff;
    --background-color: #202020;
    --container-background-color: #2e2e2e;
    --output-text-color: #f0f0f0;
  }
}

main {
  width: 100%;
  max-width: 80vw;
  padding: 1rem;
  margin: 0 auto;
  background-color: var(--container-background-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem var(--slightly-dark);
}
main > * {
  margin-bottom: var(--large-space);
}
main > *:first-child {
  margin-top: var(--medium-space);
  margin-bottom: var(--large-space);
}
main > *:last-child {
  margin-top: var(--large-space);
  margin-bottom: var(--medium-space);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color);
  margin-top: var(--medium-space);
  margin-bottom: var(--large-space);
}
header .logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.input-container {
  margin-bottom: var(--medium-space);
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: var(--small-space);
}

input {
  flex: 1;
  padding: var(--small-space);
  border: 0.0625rem solid #cccccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 0; /* flex parent controls width */
}

input + button {
  margin-left: var(--small-space);
}

button {
  border-radius: 0.5rem;
  border: 0.0625rem solid transparent;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
  width: 100%;
}

button:hover {
  background-color: var(--hover-color);
}

button:focus {
  outline: 0.25rem auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.square-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.output {
  background-color: var(--background-color);
  padding: var(--small-space);
  border-radius: 0.25rem;
  margin-bottom: var(--medium-space);
  font-size: 1rem;
  word-wrap: break-word;
  text-align: center;
  color: var(--output-text-color);
  min-height: 1.5rem;
}

.placeholder::before {
  content: "--";
  display: block;
  color: var(--output-text-color);
}

/* larger screens */
@media (min-width: 600px) {
  main {
    max-width: min(80vw, 40rem);
  }

  header .logo {
    width: 2rem;
    height: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
}

/* larger screens */
@media (min-width: 1000px) {
  header .logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}
